body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(250, 253, 253);
    background-image: url("background.jpg");
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}
.header-logo {
  width: 100px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
header h1 {
  margin: 0;
}


main {
  padding: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.property-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.property-card img {
  width: auto;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.property-card h2 {
  margin: 10px 0;
}

.property-card p {
  margin: 5px 0;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.card-actions a {
  color: #007bff;
  text-decoration: none;
}

.property-details {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
}

.property-details img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.property-details h2 {
  margin: 0;
  color: #007bff;
}

.property-details p {
  margin: 5px 0;
}

.property-details p:first-of-type {
  font-size: 20px;
  font-weight: bold;
}

.property-details p:nth-child(3) {
  font-style: italic;
}

.property-details p:nth-child(n+4) {
  font-size: 14px;
}

.property-details p:last-of-type {
  margin-bottom: 0;
}

#editPropertyForm {
  width: auto;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#editPropertyForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#editPropertyForm input[type="number"],
#editPropertyForm input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

#editPropertyForm .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#editPropertyForm button,
#editPropertyForm a {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#editPropertyForm button {
  background-color: #007bff;
}

#editPropertyForm a {
  background-color: #333;
}

#editPropertyForm button:hover,
#editPropertyForm a:hover {
  opacity: 0.8;
}

.container.sign-in-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  color:white;
  background-color: #3d3737;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container.sign-in-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container.sign-in-container form {
  display: flex;
  flex-direction: column;
}

.container.sign-in-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.container.sign-in-container input[type="text"],
.container.sign-in-container input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.container.sign-in-container button {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container.sign-in-container button:hover {
  opacity: 0.8;
}

/* Styles specific to the "Sign Up" page */

.container.sign-up-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  color:white;
  background-color: #3d3737;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container.sign-up-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container.sign-up-container form {
  display: flex;
  flex-direction: column;
}

.container.sign-up-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.container.sign-up-container input[type="text"],
.container.sign-up-container input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.container.sign-up-container button {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container.sign-up-container button:hover {
  opacity: 0.8;
}

.container.add-property {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container.add-property label {
  font-weight: bold;
  margin-bottom: 5px;
}

.container.add-property input[type="text"],
.container.add-property input[type="number"],
.container.add-property input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.container.add-property input[type="checkbox"] {
  margin-bottom: 10px;
}

.container.add-property input[type="text"]:focus,
.container.add-property input[type="number"]:focus,
.container.add-property input[type="checkbox"]:focus {
  outline: none;
  border-color: #007bff;
}

.container.add-property input[type="submit"],
.container.add-property a {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container.add-property input[type="submit"] {
  background-color: #007bff;
}

.container.add-property a {
  background-color: #333;
}

.container.add-property input[type="submit"]:hover,
.container.add-property a:hover {
  opacity: 0.8;
}