body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}
.header-logo {
  width: 100px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
header h1 {
  margin: 0;
}


main {
  padding: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.property-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.property-card img {
  width: auto;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.property-card h2 {
  margin: 10px 0;
}

.property-card p {
  margin: 5px 0;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.card-actions a {
  color: #007bff;
  text-decoration: none;
}

.property-details {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
}

.property-details img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.property-details h2 {
  margin: 0;
  color: #007bff;
}

.property-details p {
  margin: 5px 0;
}

.property-details p:first-of-type {
  font-size: 20px;
  font-weight: bold;
}

.property-details p:nth-child(3) {
  font-style: italic;
}

.property-details p:nth-child(n+4) {
  font-size: 14px;
}

.property-details p:last-of-type {
  margin-bottom: 0;
}